In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [2]:
data = load_boston()

In [6]:
type(load_boston())

sklearn.utils.Bunch

In [3]:
data = pd.DataFrame(data.data, columns=data.feature_names)

In [4]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
data['MEDV']=load_boston().target

In [8]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
X = data.drop('MEDV', axis = 1)
Y = data.loc[:,'MEDV']

In [14]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.20, random_state = 5)

In [19]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(404, 13) (102, 13) (404,) (102,)

In [20]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()

In [21]:
mlr.fit(x_train,y_train)

LinearRegression()

In [36]:
pred=mlr.predict(x_test)

In [37]:
print('The Coefficient is ', mlr.coef_)
print('The intercept is', mlr.intercept_)

The Coefficient is  [-1.30799852e-01  4.94030235e-02  1.09535045e-03  2.70536624e+00
 -1.59570504e+01  3.41397332e+00  1.11887670e-03 -1.49308124e+00
  3.64422378e-01 -1.31718155e-02 -9.52369666e-01  1.17492092e-02
 -5.94076089e-01]
The intercept is 37.912487009750194

In [38]:
coef_df=pd.DataFrame(mlr.coef_, x_test.columns)
coef_df

                 0
CRIM     -0.130800
ZN        0.049403
INDUS     0.001095
CHAS      2.705366
NOX     -15.957050
RM        3.413973
AGE       0.001119
DIS      -1.493081
RAD       0.364422
TAX      -0.013172
PTRATIO  -0.952370
B         0.011749
LSTAT    -0.594076

In [40]:
pd.DataFrame({'Actual Value':y_test,'Predicted Value':pred})

     Actual Value  Predicted Value
226          37.6        37.563118
292          27.9        32.144451
90           22.6        27.065736
373          13.8         5.670806
273          35.2        35.099826
..            ...              ...
349          26.6        21.912956
212          22.4        22.394774
156          13.1        13.193354
480          23.0        23.969911
248          24.5        21.199147

[102 rows x 2 columns]

In [ ]:
xpred